asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
comtypes==1.1.10
Django==3.2.4
django-forms-bootstrap==3.1.0
idna==2.10
pafy==0.5.5
pytube==10.8.1
pytube3==9.6.4
pytz
requests
sqlparse
typing-extensions
urllib3
youtube-dl
